*{
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    border-bottom: 2px solid  #ECECE8;
    padding: 0px 20px;
}
nav>div:first-child>img{
    width: 140%;
}
nav>div:last-child{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav>div:last-child>a{
    color: #E0E0E0;
    text-decoration: none;
    font-size: 35px;
}
nav>div:last-child>button{
    padding:13px 30px;
    border: 2px solid #FCC822;
    color: #FCC822;
    background-color: white;
    font-weight: 600;
    font-size: large;
}
.section1{
    height: 75vh;
    width: 95%;
    margin: auto;
    display: flex;
    align-items:center;
    justify-content: space-around;
}
.div1>h1{
    width: 480px;
    font-size: 55px;
    color:  #333333;
}
.div1>div{
    width: 380px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 45px;
    border-left: 3px solid #333333;
    color: #828282;
    font-size: large;
}
.div1>button{
    padding: 20px 40px;
    width: fit-content;
    border: none;
    color: white;
    margin-top: 40px;
    font-size: 25px;
    background: linear-gradient(95.34deg, #FCC822 0%, #FFCD2E 100%);
}
.div2>img{
    width: 130%;
}
.div3{
    position: fixed;
    display: none;
    background-color: #c6c5c433;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    align-items: center;
    justify-content: center;
}
.div4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 70%;
    width: 65%;
    border-radius: 20px;
    background-color: white;
    position: relative;
}
.div4>div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div4>div:nth-child(2)>h1{
    font-size: 35px;
}
.div4>div:nth-child(2)>p{
    font-size: large;
    line-height: 0px;
    color: #828282;
}
.topics{
    /* height: 200px; */
    width: 550px;
    display: flex;
    flex-wrap: wrap;
}
.topics>div{
    display: flex;
    margin: 10px;
}
.topics>div>span:first-child{
    background-color: #828282;
    padding:10px 20px;
}
.add{
    display: none;
    background-color: black;
    font-size: large;
    color: white;
    padding: 5px;
    align-items: center;
}
.close{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 25px;
}
.quiz{
    width: 80%;
    display: flex;
    justify-content: flex-end;
}
.quiz>button{
    padding: 15px 30px;
    background-color: #FFCD2E;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border: none;
}
form{
    height: 80vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.question{
    width: 100%;
    height: 130px;
    padding: 10px;
    background-color:#FCC822 ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.options{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}
.option label{
    padding: 30px 40px;
    background-color: #828282;
    font-size: large;
    font-size: 25px;
}
.option>input{
    display: none;
}
.option>input:checked+label{
    background: #FCC822;
}
.buttons{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.buttons>button{
    padding: 15px 25px;
}
#impBtn1>button:active{
    background-color: #FCC822;
}
#impBtn>button:first-child{
    font-size: large;
    font-weight: 600;
    background-color: green;
    color: white;
    border: none;

}
#impBtn>button:last-child{
    background-color: #FCC822;
    color: white;
    font-size: large;
    font-weight: 600;
    border: none;
}